<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="slide banner">
                <img class="img-responsive" src="https://sfotechnologies.net/images/innerslider/slide017.jpg" alt="">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
                    career @sfotechnologies
                  </button>
                  <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Tooltip on right">
                    Life @sfotechnologies
                  </button>
                  <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Tooltip on bottom">
                    Fun @work
                  </button>
                  <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Tooltip on left">
                    current openings
                  </button>
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <p>
                    SFO fosters a competitive environment that stimulates innovation, encourages teamwork and focuses on growth. SFO is a progressive, equal opportunity employer where every employee is valued. Ours is a multi-cultural, multi-ethnic and multi-lingual organization, which believes in keeping the workforce happy. There are no glass ceilings; performance, initiative, and commitment are the only factors which pave the way for growth. SFO provides employees with enormous opportunities to work across multiple domains catering to varied industrial sectors.

SFO has been able to retain our highly skilled workforce over the years. If you are looking for a healthy work environment that puts  great emphasis on growth, contact SFO.
Please forward your detailed resume to: careers.sfo@nestgroup.net

We are constantly on the lookout for fresh talent who will enhance the intrinsic value of the company and our wide array of products and services!
                </p>
            </div>

        </div>
    </div>
</div>
