<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="slide banner">
                <img class="img-responsive" src="https://sfotechnologies.net/images/innerslider/slide-overview.jpg" alt="">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
                    About SFO
                  </button>
                  <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Tooltip on right">
                    Nest Group
                  </button>
                  <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Tooltip on bottom">
                    Facilities
                  </button>
                  <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Tooltip on left">
                    Customers
                  </button>
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <p> SFO Technologies, the flagship company of NeST Group, incorporated in 1990, provides total ODM Plus solutions to diverse industries such as Aerospace & Defence, Communications, Energy & Industrial, Healthcare and Transportation.

                    Growing from EMS to ODM and now to ODM plus Solutions, SFO is known to bundle our own IPs, ready-to-use product building blocks, IoT, Analytics & Mobility, Cloud, AI, and expertise in related technologies such as GIS, Enterprise solutions, Data Warehousing, Business Intelligence, etc.to provide value add for our OE customers. Our ODM plus Solutions function as enabler to re-define standards for the electronics industry.
                    
                    With a global footprint and facilities in Kochi, Trivandrum, Bangalore, Mysore and Pune in India, SFO is known to nurture all our stakeholders – customers, employees, suppliers, partners and the society in general.
                </p>
            </div>

        </div>
    </div>
</div>

