<app-nav-bar1></app-nav-bar1>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <img height="400px" width="1400px" src="https://www.nicepng.com/png/detail/263-2636180_admin-login-png-admin-login-image-png.png" alt="">
        </div>
        <div class="row g-3">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <label for="" class="form-label">Username</label>
                <input name="username" [(ngModel)]="username" type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <label for="" class="form-label">Password</label>
                <input type="password" name="password" [(ngModel)]="password" id="" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <button routerLink="" class="btn btn-primary">Login</button>
            </div>
        </div>
    </div>
</div>
