<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" >
            <figure class="text-center">
            <h1 style="color:navy ;">WELCOME TO SFO TECHNOLOGIES</h1>
        </figure>
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <figure class="text-center">
                   
                    <a routerLink="/employeelogin">Employee portal</a>
                    <div class="row">
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                            <img height="1000px" width="500px" src="https://image.pitchbook.com/nSsOZ4nx5dtMgcDIXuU004Xi2EQ1605371404052_200x200" class="img-fluid" alt="...">
                        </div>
                    </div>
                    
                </figure>
                </div>
            </div>
        </div>
    </div>
</div>
